@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@import url("https://fonts.cdnfonts.com/css/just-sans");
:root {
  --color-white: #ffffff;
  --color-light: #f0eff5;
  --color-gray-light: #86848c;
  --color-gray-dark: #56555e;
  --color-dark: #27282f;
  --color-primary: rgb(230, 81, 168);
  --color-success: rgb(34, 202, 75);
  --color-danger: rgb(255, 67, 54);
  --color-warning: rgb(234, 181, 7);
  --color-purple: rgb(160, 99, 245);
  --color-primary-light: rgba(255, 94, 188, 0.2);
  --color-success-light: rgb(34, 202, 75, 0.2);
  --color-danger-light: rgb(255, 67, 54, 0.2);
  --color-warning-light: rgba(255, 204, 38, 0.2);
  --color-purple-light: rgb(160, 99, 245, 0.2);
  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;
  --card-border-radius: 1.6rem;
  --border-radius-1: 1rem;
  --border-radius-2: 6px;
  --border-radius-button: 4rem;
  --box-shadow: 0 1rem 2rem #c7c7c7;
  --box-shadow-primary: 0 0 25px var(--color-primary);
  --border-bold: 0.5rem solid var(--color-dark);
  --border-thin: 0.2rem solid var(--color-dark);
}

.dark-theme {
  --color-white: #181818;
  --color-light: #1f1f1f;
  --color-gray-dark: #dddddd;
  --color-dark: #c6c6ca;
  --box-shadow: 0 1rem 2rem #36363b;
  --border-bold: 0.5rem solid var(--color-dark);
  --border-thin: 0.2rem solid var(--color-dark);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(50% 50% at 100% 0, var(--color-white) 0 5%, var(--color-light) 6% 15%, var(--color-white) 16% 25%, var(--color-light) 26% 35%, var(--color-white) 36% 45%, var(--color-light) 46% 55%, var(--color-white) 56% 65%, var(--color-light) 66% 75%, var(--color-white) 76% 85%, var(--color-light) 86% 95%, transparent 96%), radial-gradient(50% 50% at 0 100%, var(--color-white) 0 5%, var(--color-light) 6% 15%, var(--color-white) 16% 25%, var(--color-light) 26% 35%, var(--color-white) 36% 45%, var(--color-light) 46% 55%, var(--color-white) 56% 65%, var(--color-light) 66% 75%, var(--color-white) 76% 85%, var(--color-light) 86% 95%, transparent 96%), radial-gradient(50% 50% at 50%, var(--color-white) 0 5%, var(--color-light) 6% 15%, var(--color-white) 16% 25%, var(--color-light) 26% 35%, var(--color-white) 36% 45%, var(--color-light) 46% 55%, var(--color-white) 56% 65%, var(--color-light) 66% 75%, var(--color-white) 76% 85%, var(--color-light) 86% 95%, transparent 96%), radial-gradient(50% 50% at 50%, var(--color-white) 0 5%, var(--color-light) 6% 15%, var(--color-white) 16% 25%, var(--color-light) 26% 35%, var(--color-white) 36% 45%, var(--color-light) 46% 55%, var(--color-white) 56% 65%, var(--color-light) 66% 75%, var(--color-white) 76% 85%, var(--color-light) 86% 95%, transparent 96%) 20px 20px;
  background-color: var(--color-white);
  background-size: 40px 40px;
  font-family: "Reem Kufi", sans-serif;
  min-height: 100vh;
  color: var(--color-dark);
  overflow: clip;
  transition: 200ms linear !important;
}

body.active {
  padding-right: 30rem;
}

img {
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.95rem + 0.25vw, 2.25rem);
  font-weight: 600;
}

h2 {
  font-size: 1.625rem;
  font-size: clamp(1.625rem, 1.6rem + 0.125vw, 1.75rem);
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.225rem + 0.125vw, 1.375rem);
  margin-top: 10px;
  font-weight: 500;
}

h4 {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
}

h5 {
  font-size: 1rem;
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  font-weight: 700;
}

h6 {
  font-size: 3.5625rem;
  font-size: clamp(3.5625rem, 1.15rem + 12.0625vw, 15.625rem);
  font-family: "JUST Sans", sans-serif;
  font-weight: bolder;
  opacity: 10%;
}

p {
  font-size: 1rem;
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  color: var(--color-gray-dark);
  margin: 0;
}

small {
  font-weight: 300;
  font-size: 0.77rem;
  font-size: clamp(0.77rem, 0.749rem + 0.105vw, 0.875rem);
}

.text-muted {
  color: var(--color-gray-light) !important;
}

.dark {
  color: var(--color-dark) !important;
}

.primary {
  color: var(--color-primary) !important;
}

.danger {
  color: var(--color-danger) !important;
}

.warning {
  color: var(--color-warning) !important;
}

.success {
  color: var(--color-success) !important;
}

.purple {
  color: var(--color-purple);
}

.bg-primary {
  background: var(--color-primary);
  box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-danger {
  background: var(--color-danger);
  box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-warning {
  background: var(--color-warning);
  box-shadow: 0 0.8rem 0.8rem var(--color-warning-light);
}

.bg-success {
  background: var(--color-success);
  box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-purple {
  background: var(--color-purple);
  box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-dark {
  background: #27282f;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.no-highlight {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* ----- HEADER ----- */
.title-logo {
  text-transform: uppercase;
  margin: 0;
  font-family: "Bungee", cursive;
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1.5375rem + 1.0625vw, 2.8125rem);
  line-height: 1;
  color: var(--color-dark);
  display: inline;
}

header {
  width: 100%;
  background: transparent;
  padding: 1rem 0;
}
header .header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  margin: 0 auto;
}
header .header-title::before,
header .header-title::after {
  content: none !important;
}

.message {
  position: sticky;
  top: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

/* ----- THEME BUTTON ----- */
.theme-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  border: 1px solid var(--color-primary);
  width: 5rem;
  height: 2.6rem;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.theme-btn #theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 2rem;
  height: 2rem;
  background: var(--color-dark);
  font-size: 1.3rem;
  border-radius: 50%;
  color: var(--color-light);
  box-shadow: 0 0 1.2rem var(--color-dark);
  position: absolute;
  left: 0.3rem;
  transition: transform 500ms, left 500ms;
}

.dark-theme .theme-btn #theme-toggle {
  transform: rotate(360deg);
  left: calc(100% - 2.3rem);
}

/* ----- SIDEBAR ----- */
.sidebar {
  position: fixed;
  top: 0;
  right: -30rem;
  height: 100vh;
  background: radial-gradient(50% 50% at 100% 0, var(--color-white) 0 5%, var(--color-light) 6% 15%, var(--color-white) 16% 25%, var(--color-light) 26% 35%, var(--color-white) 36% 45%, var(--color-light) 46% 55%, var(--color-white) 56% 65%, var(--color-light) 66% 75%, var(--color-white) 76% 85%, var(--color-light) 86% 95%, transparent 96%), radial-gradient(50% 50% at 0 100%, var(--color-white) 0 5%, var(--color-light) 6% 15%, var(--color-white) 16% 25%, var(--color-light) 26% 35%, var(--color-white) 36% 45%, var(--color-light) 46% 55%, var(--color-white) 56% 65%, var(--color-light) 66% 75%, var(--color-white) 76% 85%, var(--color-light) 86% 95%, transparent 96%), radial-gradient(50% 50% at 50%, var(--color-white) 0 5%, var(--color-light) 6% 15%, var(--color-white) 16% 25%, var(--color-light) 26% 35%, var(--color-white) 36% 45%, var(--color-light) 46% 55%, var(--color-white) 56% 65%, var(--color-light) 66% 75%, var(--color-white) 76% 85%, var(--color-light) 86% 95%, transparent 96%), radial-gradient(50% 50% at 50%, var(--color-white) 0 5%, var(--color-light) 6% 15%, var(--color-white) 16% 25%, var(--color-light) 26% 35%, var(--color-white) 36% 45%, var(--color-light) 46% 55%, var(--color-white) 56% 65%, var(--color-light) 66% 75%, var(--color-white) 76% 85%, var(--color-light) 86% 95%, transparent 96%) 20px 20px;
  background-color: var(--color-white);
  background-size: 40px 40px;
  border-left: var(--border-bold);
  width: 30rem;
  padding: 3rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  transition: 0.2s linear !important;
  text-align: center;
  transition: showSidebar 500ms ease forwards;
  z-index: 999;
}
.sidebar .top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.sidebar .navbar {
  width: 100%;
}
.sidebar .navbar a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 4.2rem;
  color: var(--color-gray-light);
  position: relative;
}
.sidebar .navbar a i {
  font-size: 1.7rem;
  margin-left: 38%;
  transition: all 300ms ease;
}
.sidebar .navbar a.active {
  background: var(--color-white);
  color: var(--color-primary);
}
.sidebar .navbar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}
.sidebar .navbar a:hover {
  color: var(--color-primary);
}
.sidebar .navbar a:hover i {
  margin-left: 35%;
}
.sidebar .navbar h4 {
  font-weight: 500;
}
.sidebar .follow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.sidebar .follow a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background: transparent;
  border: 0.2rem solid var(--color-primary);
  font-size: 1rem;
  border-radius: 50%;
  color: var(--color-primary);
  transition: transform 0.5s ease-in-out !important;
}
.sidebar .follow a:hover {
  transform: rotate(360deg) scale(1.1) translateY(-5px);
  color: var(--color-white);
  background: var(--color-primary);
  box-shadow: var(--box-shadow-primary);
}
.sidebar #menu-btn {
  position: absolute;
  top: 0;
  left: -5.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 5rem;
  font-size: 2.4rem;
  cursor: pointer;
  background: var(--color-dark);
  color: var(--color-white);
}
@keyframes showSidebar {
  from {
    right: -30rem;
  }
  to {
    right: 0;
  }
}

.sidebar.active {
  right: 0;
}

/* ----- HOME ----- */
main section.home {
  min-height: 90vh;
  padding: 5rem 15% 5rem;
}
main .home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  justify-content: center;
  align-items: center;
  /*.masked-image {
      width: 100%;
      height: 100%;
      animation: addColor 300ms steps(11) 1s forwards;
      -webkit-mask-image: linear-gradient(to left, black 50%, transparent 50%);
      mask-image: linear-gradient(to left, black 50%, transparent 50%);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 200% 100%;
      mask-size: 200% 100%;
  }

  @keyframes addColor {
      0% {
          -webkit-mask-position: 0 0;
          mask-position: 0 0;
      }
      100% {
          -webkit-mask-position: 100% 0;
          mask-position: 100% 0;
      }
  }*/
}
main .home .image {
  border-radius: 50%;
}
main .home .image img {
  position: relative;
  width: 100%;
  border-radius: 50%;
  box-shadow: var(--box-shadow-primary);
  cursor: pointer;
}
main .home .image img:hover {
  transform: scale(1.01);
  filter: drop-shadow(--box-shadow-primary);
}
main .home .content span {
  color: var(--color-primary);
}
main .home .content .typing-text {
  min-width: 280px;
}
main .home .content .typing-text span {
  position: relative;
  color: var(--color-primary);
}
main .home .content .typing-text span::after {
  content: "";
  background: transparent;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--color-light);
  right: -8;
  animation: cursor 0.6s infinite;
}
@keyframes cursor {
  to {
    border-left: 3px solid var(--color-primary);
  }
}
main .btn {
  display: inline-block;
  padding: 0.8rem 2.8rem;
  margin: 1rem 0;
  background: var(--color-light);
  border-radius: var(--border-radius-button);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  letter-spacing: 0.1rem;
  font-size: 1.0625rem;
  font-size: clamp(1.0625rem, 1.05rem + 0.0625vw, 1.125rem);
  font-weight: 600;
  transition: 300ms ease;
  cursor: pointer;
}
main .btn:hover {
  transform: scale(1.03);
  background: var(--color-primary);
  color: var(--color-light);
  box-shadow: var(--box-shadow-primary);
}

/* ----- SECTION ----- */
main section {
  min-height: 90vh;
  padding: 5rem 9% 5rem;
}
main section .section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
main section .section-title h2, main section .section-title h6 {
  margin: 0;
}
main section .section-title h2 {
  margin-top: 3rem;
  position: absolute;
}

/* ----- ABOUT ----- */
.about .timeline {
  position: relative;
  margin: 2rem auto;
}
.about .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background: var(--color-dark);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -2px;
}
.about .container {
  padding: 10px 40px;
  position: relative;
  background: inherit;
  width: 50%;
  z-index: 10;
}
.about .container::after {
  content: "\f501";
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 25px;
  right: -17px;
  background: var(--color-white);
  border: 4px solid var(--color-primary);
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  color: var(--color-gray-dark);
}
.about .left {
  left: -25.2%;
}
.about .left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  border: medium solid var(--color-primary);
  right: 30px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color-primary);
}
.about .right {
  left: 25.2%;
}
.about .right::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  border: medium solid var(--color-primary);
  left: 30px;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--color-primary) transparent transparent;
}
.about .right::after {
  left: -16px;
}
.about .content {
  background: var(--color-primary);
  position: relative;
  border-radius: var(--border-radius-2);
}
.about .content .tag {
  padding: 0.1rem 1rem 0;
}
.about .content .tag h2, .about .content .tag h4 {
  color: var(--color-white);
}
.about .content .details {
  padding: 0.1rem 1rem 1rem;
}
.about .content .details p {
  color: var(--color-white);
}

.appear {
  animation: appear linear both;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
/* ----- SKILLS ----- */
.skills {
  padding: 5rem 15% 5rem;
}
.skills .skills-paint {
  box-shadow: var(--box-shadow);
  position: relative;
  background-color: transparent;
  margin: 2rem auto;
  background: white;
}
.skills .skills-paint .paint-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid black;
}
.skills .skills-paint .paint-tab .tab-text {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.skills .skills-paint .paint-tab p {
  color: black;
  margin: 0;
}
.skills .skills-paint .paint-tab .tab-icon {
  color: black;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.skills .skills-paint .paint-board {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80vh;
}
.skills .skills-paint .paint-board .drawing-board {
  flex: 1;
  display: flex;
  position: relative;
}
.skills .skills-paint .paint-board #drawing-board {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* ----- Colours ----- */
.colours {
  position: absolute;
  top: 60px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  z-index: 10;
}
.colours .clr {
  width: 64px;
  height: 64px;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 5px;
}

.red {
  background-color: #CF0000;
}

.pink {
  background-color: #ff63c6;
}

.orange {
  background-color: #ff792b;
}

.yellow {
  background-color: #ffc53d;
}

.green {
  background-color: #4dc425;
}

.blue {
  background-color: #1334d6;
}

/* ------ PROJECTS ----- */
.projects {
  padding: 5rem 0 5rem;
}
.projects .body-carousel {
  margin: 2rem auto;
  overflow: hidden;
  width: 100%;
  height: 90vh;
}
.projects .carousel-img {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.projects .carousel {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.projects .carousel-item {
  --items: 10;
  --width: clamp(250px, 30vw, 300px);
  --height: clamp(350px, 40vw, 400px);
  --x: calc(var(--active) * 1000%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.projects .carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: "Orelo-sw-db", serif;
  overflow-y: hidden;
}
.projects .carousel-item .carousel-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
.projects .carousel-item .carousel-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2));
}

/* ------ CONTACT ------- */
.contact {
  min-height: 50vh;
  /*.contact-details::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1rem;
      background: var(--color-primary);
      transform: translateX(-4rem);
  }*/
}
.contact .contact-details {
  position: relative;
  background: white;
  max-width: 50rem;
  min-height: 40vh;
  margin: 2rem auto;
  padding: 2rem 2rem;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.contact .contact-details .get-in-touch {
  font-weight: bolder;
  color: #27282f;
  text-decoration: underline !important;
  font-size: 2rem;
  font-size: clamp(2rem, 1.95rem + 0.25vw, 2.25rem);
}
.contact .contact-details h3 {
  color: #27282f;
}
.contact .contact-details a h2 {
  text-decoration: none !important;
  color: var(--color-primary);
  margin-top: -0.1rem;
}
.contact .contact-details ul li {
  margin-bottom: 1rem;
}
.contact .contact-details ul li a {
  color: var(--color-primary);
  display: flex;
  gap: 1rem;
  align-items: center;
}
.contact .contact-details ul li a h5 {
  margin: 0;
  position: relative;
}
.contact .contact-details ul li a h5::after {
  content: "→";
  position: absolute;
  right: -1.5rem;
  opacity: 0;
  transform: translateX(-5px);
  transition: opacity 0.3s, transform 0.3s;
}
.contact .contact-details ul li a:hover h5::after {
  opacity: 1;
  transform: translateX(0);
}
.contact .pop-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -6rem 0 -5.2rem 0;
}
.contact .pop-img .contact-img {
  width: 20rem;
  position: relative;
  z-index: 10;
}
.contact .pop-img .hover_commission {
  display: none;
  position: absolute;
  width: 20rem;
  transform: translateX(22rem);
  z-index: 2;
}
.contact .pop-img .contact-img:hover + .hover_commission {
  display: block;
}

/* ------ FOOTER ------- */
.credit {
  text-align: center;
  background: var(--color-dark);
  padding: 1rem;
  color: var(--color-light);
  margin: 0;
}
.credit span {
  color: var(--color-primary);
  font-weight: 600;
}
.credit #year {
  color: var(--color-light);
}

/* MEDIA QUERIES FOR SMALLER LAPTOP */
@media screen and (max-width: 1430px) {
  main .skills {
    padding: 5rem 9% 5rem;
  }
}
/* MEDIA QUERIES FOR TABLETS */
@media screen and (max-width: 1024px) {
  body.active {
    padding-right: 0;
  }
  .sidebar {
    padding-top: 7rem;
  }
  #menu-btn.fa-times {
    left: 0;
  }
  section {
    padding: 5rem 9% 5rem;
  }
  main .home {
    gap: 4rem;
  }
}
/* MEDIA QUERIES FOR PHONES*/
@media screen and (max-width: 600px) {
  .sidebar {
    right: -90%;
    width: 90%;
  }
  @keyframes showSidebarMobile {
    from {
      right: -90%;
    }
    to {
      right: 0;
    }
  }
  main .home {
    grid-template-columns: 1fr;
    gap: 0;
  }
  main .home .image img {
    width: 100%;
  }
  main .about .timeline {
    margin-top: 2rem;
  }
  main .about .timeline::after {
    left: 31px;
  }
  main .about .container {
    width: 100%;
    padding-left: 6rem;
    padding-right: 2rem;
  }
  main .about .container::before {
    left: 62px;
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid var(--color-primary);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--color-primary) transparent transparent;
  }
  main .about .left::after, main .about .right::after {
    left: 15px;
  }
  main .about .right, main .about .left {
    left: 0;
  }
  main .skills .skills-paint i {
    font-size: 1.2em;
  }
  main .skills .skills-paint .paint-logo {
    width: 20px;
    height: auto;
  }
  main .skills .colours {
    left: 10px;
    flex-direction: row;
    -moz-column-gap: 0.2rem;
         column-gap: 0.2rem;
  }
  main .skills .colours .clr {
    width: 45px;
    height: 45px;
    margin-bottom: 0.2rem;
  }
  main .projects .body-carousel {
    height: 80vh;
  }
  main .contact .pop-img {
    margin: -2rem 0 -4.5rem 0;
  }
  main .contact .pop-img .contact-img {
    width: 15rem;
  }
  main .contact .pop-img .hover_commission {
    width: 20rem;
    transform: translateY(-15rem);
  }
}
@media screen and (max-width: 320px) {
  .skills .tab-icon {
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */